.dashboard {
  padding: 25px;
  background: #f8f8f8;
  min-height: 100vh;
}
.dashboard .top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}
.dashboard .top-section .welcome-card {
  border-radius: 18px;
  overflow: hidden;
  background: #111;
  color: #fff;
  min-height: 320px;
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(10, 20, 30, 0.85), rgba(10, 20, 30, 0.85)), url("../../../assets/login-img.avif");
  background-size: cover;
  background-position: center;
}
.dashboard .top-section .welcome-card h2 {
  font-size: 28px;
}
.dashboard .top-section .welcome-card h1 {
  font-size: 34px;
  margin: 10px 0;
}
.dashboard .top-section .welcome-card p {
  max-width: 430px;
  color: #ddd;
  line-height: 1.6;
}
.dashboard .top-section .welcome-card button {
  margin-top: 25px;
  background: #00b884;
  color: #fff;
  border: none;
  padding: 13px 25px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.dashboard .top-section .welcome-card img {
  width: 260px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.dashboard .top-section .featured-card {
  border-radius: 18px;
  overflow: hidden;
  background: #111;
  color: #fff;
  position: relative;
  min-height: 320px;
}
.dashboard .top-section .featured-card img {
  width: 100%;
  height: 100%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard .top-section .featured-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}
.dashboard .top-section .featured-card .featured-content {
  position: absolute;
  z-index: 9992;
  left: 28px;
  right: 28px;
  bottom: 28px;
}
.dashboard .top-section .featured-card .featured-content span {
  color: #00d084;
  font-size: 13px;
  font-weight: 700;
}
.dashboard .top-section .featured-card .featured-content h3 {
  margin: 12px 0;
  font-size: 22px;
}
.dashboard .top-section .featured-card .featured-content p {
  color: #ddd;
}
.dashboard .stats-section {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.dashboard .stats-section .stat-card {
  position: relative;
  background: #fff;
  border-radius: 18px;
  padding: 30px;
  min-height: 150px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.06);
}
.dashboard .stats-section .stat-card p {
  font-weight: 600;
  color: #111;
}
.dashboard .stats-section .stat-card h2 {
  font-size: 34px;
  margin: 25px 0 15px;
}
.dashboard .stats-section .stat-card .up {
  color: #00a76f;
}
.dashboard .stats-section .stat-card .down {
  color: #ff5630;
}
.dashboard .stats-section .stat-card .bars {
  position: absolute;
  right: 28px;
  bottom: 35px;
  display: flex;
  align-items: end;
  gap: 5px;
}
.dashboard .stats-section .stat-card .bars i {
  width: 6px;
  border-radius: 5px;
  display: block;
}
.dashboard .stats-section .stat-card .bars i:nth-child(1) {
  height: 15px;
}
.dashboard .stats-section .stat-card .bars i:nth-child(2) {
  height: 10px;
}
.dashboard .stats-section .stat-card .bars i:nth-child(3) {
  height: 22px;
}
.dashboard .stats-section .stat-card .bars i:nth-child(4) {
  height: 35px;
}
.dashboard .stats-section .stat-card .bars i:nth-child(5) {
  height: 18px;
}
.dashboard .stats-section .stat-card .bars i:nth-child(6) {
  height: 27px;
}
.dashboard .stats-section .stat-card .bars .green i {
  background: #00a76f;
}
.dashboard .stats-section .stat-card .bars .blue i {
  background: #00b8d9;
}
.dashboard .stats-section .stat-card .bars .orange i {
  background: #ff5630;
}/*# sourceMappingURL=dashboard.css.map */