.dashboard {
  padding: 25px;
  background: #f8f8f8;
  min-height: 100vh;


  .top-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;


    .welcome-card {
      border-radius: 18px;
      overflow: hidden;
      background: #111;
      color: #fff;
      min-height: 320px;
      padding: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(rgba(10, 20, 30, 0.85), rgba(10, 20, 30, 0.85)),
        url("../../../assets/login-img.avif");
      background-size: cover;
      background-position: center;

      h2 {
        font-size: 28px;
      }

      h1 {
        font-size: 34px;
        margin: 10px 0;
      }

      p {
        max-width: 430px;
        color: #ddd;
        line-height: 1.6;
      }

      button {
        margin-top: 25px;
        background: #00b884;
        color: #fff;
        border: none;
        padding: 13px 25px;
        border-radius: 10px;
        font-weight: 700;
        cursor: pointer;
      }

      img {
        width: 260px;
        height: 190px;
        object-fit: cover;
        border-radius: 20px;
      }

    }



    .featured-card {
      border-radius: 18px;
      overflow: hidden;
      background: #111;
      color: #fff;
      position: relative;
      min-height: 320px;

      img {
        width: 100%;
        height: 100%;
        min-height: 350px;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      }


      .featured-content {
        position: absolute;
        z-index: 9992;
        left: 28px;
        right: 28px;
        bottom: 28px;

        span {
          color: #00d084;
          font-size: 13px;
          font-weight: 700;
        }

        h3 {
          margin: 12px 0;
          font-size: 22px;
        }

        p {
          color: #ddd;
        }
      }


    }


  }

  .stats-section {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;


    .stat-card {
      position: relative;
      background: #fff;
      border-radius: 18px;
      padding: 30px;
      min-height: 150px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.06);

      p {
        font-weight: 600;
        color: #111;
      }

      h2 {
        font-size: 34px;
        margin: 25px 0 15px;
      }

      .up {
        color: #00a76f;
      }

      .down {
        color: #ff5630;
      }



      .bars {
        position: absolute;
        right: 28px;
        bottom: 35px;
        display: flex;
        align-items: end;
        gap: 5px;

        i {
          width: 6px;
          border-radius: 5px;
          display: block;
        }

        i:nth-child(1) {
          height: 15px;
        }

        i:nth-child(2) {
          height: 10px;
        }

        i:nth-child(3) {
          height: 22px;
        }

        i:nth-child(4) {
          height: 35px;
        }

        i:nth-child(5) {
          height: 18px;
        }

        i:nth-child(6) {
          height: 27px;
        }



        .green i {
          background: #00a76f;
        }

        .blue i {
          background: #00b8d9;
        }

        .orange i {
          background: #ff5630;
        }
      }

    }
  }

}